<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.thoughtCoding.theMall.mapper.BlackRecordMapper">
    <resultMap id="BaseResultMap" type="com.thoughtCoding.theMall.model.BlackRecord">
        <id column="record_id" property="recordId" jdbcType="INTEGER"/>
        <result column="face_url" property="faceUrl" jdbcType="VARCHAR"/>
        <result column="frame_url" property="frameUrl" jdbcType="VARCHAR"/>
        <result column="timestamp" property="timestamp" jdbcType="TIMESTAMP"/>
        <result column="customer_id" property="customerId" jdbcType="INTEGER"/>
    </resultMap>
    <!--
        连接Customer表
    -->
    <resultMap id="BaseBlackCustomer" type="com.thoughtCoding.theMall.model.BlackRecord">
        <id column="record_id" property="recordId" jdbcType="INTEGER"/>
        <result column="face_url" property="faceUrl" jdbcType="VARCHAR"/>
        <result column="frame_url" property="frameUrl" jdbcType="VARCHAR"/>
        <result column="timestamp" property="timestamp" jdbcType="TIMESTAMP"/>
        <result column="customer_id" property="customerId" jdbcType="INTEGER"/>
        <association property="customer" javaType="com.thoughtCoding.theMall.model.Customer">
            <id column="customer_id" property="customerId" jdbcType="INTEGER"/>
            <result column="customer_name" property="customerName" jdbcType="VARCHAR"/>
            <result column="customer_sex" property="customerSex" jdbcType="TINYINT"/>
            <result column="customer_age" property="customerAge" jdbcType="TINYINT"/>
            <result column="phone" property="phone" jdbcType="VARCHAR"/>
            <result column="customer_face_id" property="customerFaceId" jdbcType="VARCHAR"/>
            <result column="customer_type" property="customerType" jdbcType="TINYINT"/>
            <result column="customer_is_black" property="customerIsBlack" jdbcType="TINYINT"/>
            <result column="customer_last_time" property="customerLastTime" jdbcType="TIMESTAMP"/>
        </association>
    </resultMap>
    <sql id="Base_Column_List">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Tue Sep 17 15:55:28 CST 2019.
        -->
        record_id, face_url, frame_url, timestamp, customer_id
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Tue Sep 17 15:55:28 CST 2019.
        -->
        select
        <include refid="Base_Column_List"/>
        from t_black_record
        where record_id = #{recordId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Tue Sep 17 15:55:28 CST 2019.
        -->
        delete from t_black_record
        where record_id = #{recordId,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.thoughtCoding.theMall.model.BlackRecord">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Tue Sep 17 15:55:28 CST 2019.
        -->
        insert into t_black_record (record_id, face_url, frame_url,
        timestamp, customer_id)
        values (#{recordId,jdbcType=INTEGER}, #{faceUrl,jdbcType=VARCHAR}, #{frameUrl,jdbcType=VARCHAR},
        #{timestamp,jdbcType=TIMESTAMP}, #{customerId,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" parameterType="com.thoughtCoding.theMall.model.BlackRecord">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Tue Sep 17 15:55:28 CST 2019.
        -->
        insert into t_black_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="recordId != null">
                record_id,
            </if>
            <if test="faceUrl != null">
                face_url,
            </if>
            <if test="frameUrl != null">
                frame_url,
            </if>
            <if test="timestamp != null">
                timestamp,
            </if>
            <if test="customerId != null">
                customer_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="recordId != null">
                #{recordId,jdbcType=INTEGER},
            </if>
            <if test="faceUrl != null">
                #{faceUrl,jdbcType=VARCHAR},
            </if>
            <if test="frameUrl != null">
                #{frameUrl,jdbcType=VARCHAR},
            </if>
            <if test="timestamp != null">
                #{timestamp,jdbcType=TIMESTAMP},
            </if>
            <if test="customerId != null">
                #{customerId,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.thoughtCoding.theMall.model.BlackRecord">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Tue Sep 17 15:55:28 CST 2019.
        -->
        update t_black_record
        <set>
            <if test="faceUrl != null">
                face_url = #{faceUrl,jdbcType=VARCHAR},
            </if>
            <if test="frameUrl != null">
                frame_url = #{frameUrl,jdbcType=VARCHAR},
            </if>
            <if test="timestamp != null">
                timestamp = #{timestamp,jdbcType=TIMESTAMP},
            </if>
            <if test="customerId != null">
                customer_id = #{customerId,jdbcType=INTEGER},
            </if>
        </set>
        where record_id = #{recordId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.thoughtCoding.theMall.model.BlackRecord">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Tue Sep 17 15:55:28 CST 2019.
        -->
        update t_black_record
        set face_url = #{faceUrl,jdbcType=VARCHAR},
        frame_url = #{frameUrl,jdbcType=VARCHAR},
        timestamp = #{timestamp,jdbcType=TIMESTAMP},
        customer_id = #{customerId,jdbcType=INTEGER}
        where record_id = #{recordId,jdbcType=INTEGER}
    </update>

    <select id="selectBlackRecordWithCustomerByTimestamp" resultMap="BaseBlackCustomer">
        select *
        from t_black_record
            left join t_customer
            on t_black_record.customer_id = t_customer.customer_id
        where day(timestamp) = ${day}
            and month(timestamp) = ${month}
            and year(timestamp) = ${year}
    </select>
</mapper>