<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
             http://www.springframework.org/schema/beans
             http://www.springframework.org/schema/beans/spring-beans.xsd
             http://www.springframework.org/schema/context
             http://www.springframework.org/schema/context/spring-context.xsd
             http://www.springframework.org/schema/tx
             http://www.springframework.org/schema/tx/spring-tx.xsd
             http://www.springframework.org/schema/aop
             http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- 加载系统配置文件 -->
    <context:property-placeholder location="classpath:config.properties"/>

    <!-- 导入sprint mvc配置 -->
    <import resource="applicationContext-mvc.xml"/>

    <!-- 导入mybatis相关配置 -->
    <import resource="applicationContext-mybatis.xml"/>

    <!-- 扫描注解 -->
    <context:component-scan base-package="com.thoughtCoding.alarm.service"/>
    <context:component-scan base-package="com.thoughtCoding.alarm.utils"/>

    <!-- 调用短信接口的隐私性参数类 -->
    <bean class="com.thoughtCoding.alarm.model.SMSConfig">
        <property name="secretId" value="${SMS.secretId}"/>
        <property name="secretKey" value="${SMS.secretKey}"/>
    </bean>

    <!-- 事务相关控制 -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <tx:annotation-driven transaction-manager="transactionManager"/>

    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <!-- 对业务层所有方法添加事务，除了以get、find、select开始的 -->
            <tx:method name="*" isolation="DEFAULT" propagation="REQUIRED" rollback-for="java.lang.Exception"/>
            <!-- 查询操作没有必要开启事务，给只读事务添加一个属性read-only -->
            <tx:method name="get*" read-only="true"/>
            <tx:method name="find*" read-only="true"/>
            <tx:method name="select*" read-only="true"/>
            <tx:method name="query*" read-only="true"/>
        </tx:attributes>
    </tx:advice>
    <!-- Service层事务控制 -->
    <aop:config>
        <aop:pointcut id="pointcut" expression="execution(* com.thoughtCoding.alarm.service.*..*(..))"/>
        <aop:advisor pointcut-ref="pointcut" advice-ref="txAdvice"/>
    </aop:config>

</beans>